.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;
  padding: 20px;
}
.line {
  border: 1px solid #f4f4f4;
}
.deleteBtn {
  float: right;
  padding: 7px 15px;
  border-radius: 7px;
  border: none;
  background-color: #f7ca18;
  color: white;
  margin-top: -5px;
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
}
